nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container
      a.navbar-brand(href='/')
        i.icn-logo.material-icons movie
        | Movie Rating
      .nav-items.clearfix
        if ! currentUser


          a.nav-item.nav-link(href='../') Home
          a.btn.btn-info.pull-md-right(href='login') Log In/Sign Up

      if currentUser
        div

          a.btn.btn-info.pull-md-right(href='/logout') Log Out
