extends layout

block content
  include partials/header
  


  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Log In
        form(method='POST' action='/login')
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='Enter email' name='email')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='Enter password' name='password')
          button.btn.btn-primary(type='submit') Log in 
        a(href='/signup') Don't have an account?Please Register here!!!