.main{
    margin-top: 100px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* see notes below */
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
}

.card {
    /*height: 200px;*/
    /*background: red;*/
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    /* -webkit-box-orient: vertical; */
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    color: #5d5e5e;
} /* li item */

.thumbnail img {
    fill: #c7c4c4;
    margin: auto;
    display: block;
    padding: 1.5rem;
}

.card-content {
    font-size: .75rem;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.card-content h2 {
    text-align: center;
}

.panel.card-panel .panel-header {
    background-color: #ffffff;
    font-size: .75rem;
    font-weight: 400;
    height: 25px !important;
}

.panel.card-panel .panel-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

footer {
    border-top: 2px solid #e7e7e7;
    margin: .5rem 0 0;
    min-height: 30px;
    font-size: .8rem;
}

.post-meta {
    margin-top: .5rem;
}


.comments {
    margin-left: .5rem;
    float: left;
}
/* Base Styles */

body {
    background: hsl(240, 1%, 42%)
}

a:hover {
    color: rgba(9, 27, 31, 0.7);
}

/* Component Styles */

.navbar {
    padding: 1rem 0;
    background: rgba(0,0,0, .25);
}
.lead {
    margin-bottom: 2.5rem;
}
.main {
    color: #fff;
    min-height: calc(100vh - 34px);
}
.foot {
    font-size: .85rem;
    padding: .5rem 0;
    color: rgba(255,255,255, .6);
}

/* Modifier Styles */

.nav-items .nav-link {
    margin: 0 1rem;
}
.navbar-brand {
    margin: 0;
}
.navbar .nav-link,
.navbar .btn {
    text-transform: uppercase;
    font-size: .95rem;
}
.list-group {
    color: initial;
}
.label {
    font-size: .88rem;
    vertical-align: top;
    margin: 3px 0 0 4px;
}

/* Button Styles */

.btn-primary {
    background: #263647;
    border-color: #0b1a21;
}
.btn-info {
    background-color: #2d3d42;
    border-color: #12252d;
}
.btn-info:hover {
    background-color: #203238;
    border-color: #0b181d;
}
.btn-light {
    color: rgba(255,255,255, .75);
    background: rgba(255,255,255, .12);
}
.btn-light:hover {
    background: rgba(255,255,255, .2);
}
.active,
.btn {
    transition: .4s;
}

/* Icon Styles */

.icn-logo {
    margin: 3px 3px 0;
    float: left;
}
.icn-person {
    font-size: 50px;
    border-radius: 50%;
    border: solid 2px;
    padding: .5rem;
}
.avatar {
    width: 35px;
    margin-right: 18px;
    border: solid 2px rgba(255,255,255, .75);
}
.options {
    display: none;
}
.list-group-item:hover .options {
    display: block;
}
.options .material-icons {
    font-size: 1.25rem;
    cursor: pointer;
    margin-left: 1rem;
    color: rgba(0,0,0, .35);
}
.options .material-icons:hover {
    color: initial;
}

.favorite-book {
    margin-top: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(246, 246, 246);
    padding: 1rem;
    box-shadow: 0px 0px 6px 0px #808080b3;
    border-radius: 10px;
    width: 100%;
    color: black;
}

.form form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.form form input,select{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    outline: none;
    color: black;
}

.form form label {
    margin-top: 7px;
}

.form button {
    margin-top: 10px;
    padding: 4px 10px;
    font-size: 1rem;
    background-color: #263647;
    border: 1px solid #0a1618;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    color: #203238;
    width: 80%;
    background: #f1f1f1;
}
form.example select{
    float: left;
    width: 10%;
    padding: 11px;
    background: #f1f1f1;
}


form.example button {
    float: right;
    width: 10%;
    padding: 14px;
    background: #263647;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #203238;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}


.rate-area {
    float: left;
    border-style: none;
}

.rate-area:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rate-area:not(:checked) > label {
    float: right;
    width: 0.8em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 180%;
    color: lightgrey;
}

.rate-area:not(:checked) > label:before {
    content: "★";
}

.rate-area > input:checked ~ label {
    color: gold;
}

.rate-area:not(:checked) > label:hover,
.rate-area:not(:checked) > label:hover ~ label {
    color: gold;
}

.rate-area > input:checked + label:hover,
.rate-area > input:checked + label:hover ~ label,
.rate-area > input:checked ~ label:hover,
.rate-area > input:checked ~ label:hover ~ label,
.rate-area > label:hover ~ input:checked ~ label {
    color: gold;
}


/* Media Queries */

@media (min-width: 0) and (max-width: 47em) {
    .navbar {
        background: #1d2a33;
    }
    .nav-items .nav-item {
        float: none;
    }
    .nav-items .nav-link  {
        padding: .65rem 0;
        display: block;
    }
    .nav-items {
        padding: 1rem 0;
        clear: left;
    }
    .navbar .btn {
        margin-left: 1rem;
    }
    .main {
        padding-top: 6rem;
    }
}

@media (min-width: 48em) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav .container {
        display: -webkit-flex;
        display: flex;
    }
    .nav-items {
        margin-right: auto;
        margin-left: auto;
    }
    .main {
        padding-top: 8rem;
    }
}